{{- $product := "" -}}

{{- if .IsNamedParams -}}
	{{- $product = .Get "type" -}}
{{- else -}}
	{{- $product = .Get 0 -}}
{{- end -}}

{{- $products := dict
	"edukit-long-en" "M5 Stack Core2 for AWS IoT Edukit"
	"edukit-short-en" "Core2 for AWS"
	"iotrules-long-en" "AWS IoT Rules" 
	"iotrules-short-en" "AWS IoT Rules" 
	"NO_PRODUCT_MATCHES" "No product found for key \"%s\"!"
-}}

{{- $output := index $products $product -}}

{{- if not $output -}}
	{{- $output = printf (index $products "NO_PRODUCT_MATCHES") $product -}}
{{- end -}}

{{- $output -}}